## macOS
.DS_Store

## python bytecode
__pycache__/

## code env
.venv/
.vscode/
*.code-workspace

## obsidian env 
.obsidian/
summary.md

## secret api key
configs/api_key.txt

## output directories
mdfiles/
pdfs/

## .